version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      timezone: Asia/Jakarta
    groups:
      dependencies:
        patterns: ['*']

  - package-ecosystem: bun
    directory: /
    open-pull-requests-limit: 5
    versioning-strategy: increase-if-necessary
    schedule:
      interval: monthly
      timezone: Asia/Jakarta
    groups:
      dependencies:
        dependency-type: production
        patterns: ['*']
      dev-dependencies:
        dependency-type: development
        patterns: ['*']
