# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.log
*.key
*.pem
*.old
*.tmp

# Caches
.cache
*~
*.cache
*.tsbuildinfo

dist

# IDE Project Configurations
# --------------------------
.idea
.project
.settings
.vscode
.zed
*.sublime-*

# Development
# --------------------------
.env
.env.*
compose.*.yml
coverage
node_modules
*.lcov

# AI Agents
.agents
.ai
.claude
.mcp.json
opencode.json
CLAUDE.md

# Package managers
.npmrc
.pnpm-store
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# Do not ignore template files
!.env.example
!.env.*.example
!compose.staging.yml
