services:
  app:
    extends:
      file: deploy/compose.yml
      service: app
    build:
      context: .
      dockerfile: ./deploy/docker/elysia-app.dockerfile
      pull: false
      args:
        APP_NAME: ${APP_NAME:-learn-elysia}
        APP_VERSION: ${APP_VERSION:-0.0.0-local}
        BUN_VERSION: ${BUN_VERSION:-1.3.3}
        BASE_OS: ${BASE_OS:-alpine}
        BASE_VERSION: ${BASE_VERSION:-3.23}
    image: ghcr.io/feryardiant/learn-bun-elysia:local
    environment:
      NODE_ENV: ${NODE_ENV:-local}

  postgres:
    extends:
      file: deploy/compose.yml
      service: postgres

  mailpit:
    extends:
      file: deploy/compose.yml
      service: mailpit

  jaeger:
    extends:
      file: deploy/compose.yml
      service: jaeger

networks:
  default:
    name: elysia-stack
