services:
  app:
    extends:
      file: compose.yml
      service: app
    env_file:
      - path: ../.env.staging
        required: false
    environment:
      NODE_ENV: ${NODE_ENV:-staging}
    container_name: elysia-staging-app

  postgres:
    extends:
      file: compose.yml
      service: postgres
    container_name: elysia-staging-db

networks:
  default:
    name: elysia-staging-stack
