service:
  extensions: [jaeger_storage, jaeger_query, remote_sampling, healthcheckv2]
  pipelines:
    traces:
      receivers: [otlp, jaeger, zipkin]
      processors: [batch, adaptive_sampling]
      exporters: [jaeger_storage_exporter, spanmetrics]
    metrics/spanmetrics:
      receivers: [spanmetrics]
      exporters: [prometheus]
  telemetry:
    resource:
      service.name: jaeger
    metrics:
      level: detailed
      readers:
        - pull:
            exporter:
              prometheus:
                host: 0.0.0.0
                port: 8888
    logs:
      level: debug

# Declare spanmetrics connector.
connectors:
  spanmetrics:

extensions:
  healthcheckv2:
    use_v2: true
    http:

  jaeger_query:
    storage:
      metrics: metrics_store
      traces: traces_store
      traces_archive: traces_archive
    ui:
      config_file: /etc/jaeger/config-ui.json
    # The maximum duration that is considered for clock skew adjustments.
    # Defaults to 0 seconds, which means it's disabled.
    max_clock_skew_adjust: 0s

  jaeger_storage:
    backends:
      traces_store:
        memory:
          max_traces: 100000
      traces_archive:
        memory:
          max_traces: 100000
    metric_backends:
      metrics_store:
        prometheus:
          endpoint: http://prometheus:9090

  remote_sampling:
    # You can either use file or adaptive sampling strategy in remote_sampling
    # file:
    #   path: ./cmd/jaeger/sampling-strategies.json
    adaptive:
      sampling_store: traces_store
      initial_sampling_probability: 0.1
    grpc:
    http:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

  jaeger:
    protocols:
      grpc:
        endpoint: 0.0.0.0:14250
      thrift_http:
        endpoint: 0.0.0.0:14268
      thrift_binary:
        endpoint: 0.0.0.0:6832
      thrift_compact:
        endpoint: 0.0.0.0:6831

  zipkin:
    endpoint: 0.0.0.0:9411

processors:
  batch:
  # Adaptive Sampling Processor is required to support adaptive sampling.
  # It expects remote_sampling extension with `adaptive:` config to be enabled.
  adaptive_sampling:

exporters:
  jaeger_storage_exporter:
    trace_storage: traces_store
  prometheus:
    endpoint: 0.0.0.0:8889
