services:
  app:
    extends:
      file: ../deploy/compose.yml
      service: app
    build:
      context: ..
      dockerfile: .devcontainer/dockerfile
      target: build
      args:
        APP_NAME: ${APP_NAME:-learn-elysia}
        APP_VERSION: ${APP_VERSION:-0.0.0-development}
        BUN_VERSION: ${BUN_VERSION:-1.2.23}
        BASE_OS: ${BASE_OS:-alpine}
        BASE_VERSION: ${BASE_VERSION:-3.23}
    image: ghcr.io/feryardiant/learn-bun-elysia:development
    ports:
      - ${FORWARD_STUDIO_PORT:-4000}:4000
    volumes:
      - elysia-node_modules:/app/node_modules
    environment:
      NODE_ENV: development
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G

  postgres:
    extends:
      file: ../deploy/compose.yml
      service: postgres

volumes:
  elysia-node_modules:

networks:
  default:
    name: elysia-dev-stack
