services:
  app:
    extends:
      file: ../deploy/compose.yml
      service: app
    build:
      context: ..
      dockerfile: .devcontainer/dockerfile
      target: build
      args:
        BUN_VERSION: ${BUN_VERSION:-1.3.3}
        BASE_OS: ${BASE_OS:-alpine}
    image: ghcr.io/feryardiant/learn-bun-elysia:devcontainer
    ports:
      - ${FORWARD_STUDIO_PORT:-4000}:4000
    volumes:
      - node_modules:/app/node_modules
    environment:
      APP_NAME: ${APP_NAME:-learn-elysia}
      APP_VERSION: ${APP_VERSION:-0.0.0-devcontainer}
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G

  postgres:
    extends:
      file: ../deploy/compose.yml
      service: postgres

volumes:
  node_modules:
    name: elysia-dev-node_modules

networks:
  default:
    name: elysia-dev-stack
