name: Docker

on:
  workflow_call:
    inputs:
      buildable:
        description: Whether we need to build new image
        required: false
        type: boolean
      image-name:
        description: Docker image name
        required: true
        type: string
      image-prefix:
        description: Docker image prefix
        required: true
        type: string
      image-tag:
        description: Docker image tag
        required: true
        type: string
      repo-name:
        description: Repository name
        required: true
        type: string

jobs:
  build-push:
    name: Build and Push
    runs-on: ubuntu-latest
    if: ${{ inputs.buildable }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ inputs.repo-name }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ inputs.image-tag }}
            type=raw,value=${{ inputs.image-prefix }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix=,format=long

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            BUN_VERSION=${{ vars.BUN_VERSION || '1.2.22' }}
            BASE_OS=${{ vars.BASE_OS || 'alpine' }}
            APP_NAME=${{ inputs.image-name }}
            APP_VERSION=${{ inputs.image-tag }}
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: dockerfiles/${{ inputs.image-name }}.dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: true

      - uses: actions/attest-build-provenance@v3
        if: ${{ github.event_name == 'push' }}
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}

  schema-artifact:
    name: API Schema Artifact
    if: ${{ inputs.buildable }}
    needs: [build-push]
    runs-on: ubuntu-latest

    permissions:
      packages: read

    env:
      DB_NAME: ${{ github.repository_owner }}
      DB_USER: ${{ github.repository_owner }}
      DB_PASS: secret

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASS }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd=pg_isready
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
      app:
        image: ghcr.io/${{ inputs.repo-name }}:${{ inputs.image-prefix }}
        credentials:
          username: ${{ github.actor }}
          password: ${{ github.token }}
        env:
          NODE_ENV: staging
          APP_SECRET: not-secure-secret
          LOG_LEVEL: debug
          DB_HOST: postgres
          DB_NAME: ${{ env.DB_NAME }}
          DB_USER: ${{ env.DB_USER }}
          DB_PASS: ${{ env.DB_PASS }}
        ports:
          - 3000:3000

    steps:
      - name: Health check
        env:
          APP_URL: http://localhost:${{ job.services.app.ports['3000'] }}
        run: |
          set -euo pipefail

          echo "Waiting for application to start..."
          TIMEOUT=5
          ELAPSED=0
          while [ $ELAPSED -lt $TIMEOUT ]; do
            if docker logs ${{ job.services.app.id }} 2>&1 | grep -q "$APP_URL"; then
              break
            fi

            sleep 1
            ELAPSED=$((ELAPSED+1))
          done

          if [ $ELAPSED -eq $TIMEOUT ]; then
            echo "Timeout waiting for application to start"
            docker logs ${{ job.services.app.id }}
            exit 1
          fi

          HTTP_CODE=$(curl -s -o /dev/null -w "%{http_code}" $APP_URL/health)

          if [ "${HTTP_CODE:-0}" -ne 200 ]; then
            echo "Health check failed with status ${HTTP_CODE:-unset}"
            exit 1
          fi

          echo "APP_URL=$APP_URL" >> $GITHUB_ENV
          echo "Health check passed"

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ vars.BUN_VERSION || '1.2.22' }}

      - name: Generate API schema
        run: |
          bunx openapi-typescript $APP_URL/docs/json -o ${{ inputs.image-name }}.schema.d.ts

      - name: Upload schema artifacts
        uses: actions/upload-artifact@v5
        with:
          name: api-schema_${{ inputs.image-prefix }}
          path: ${{ inputs.image-name }}.schema.d.ts
          retention-days: 30
          overwrite: true
