name: Docker

on:
  workflow_call:
    inputs:
      buildable:
        description: Whether we need to build new image
        required: false
        type: boolean
      image-name:
        description: Docker image name
        required: true
        type: string
      image-prefix:
        description: Docker image prefix
        required: true
        type: string
      image-tag:
        description: Docker image tag
        required: true
        type: string
      repo-name:
        description: Repository name
        required: true
        type: string

jobs:
  build-push:
    name: Build and Push
    runs-on: ubuntu-latest
    if: ${{ inputs.buildable }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ inputs.repo-name }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ inputs.image-tag }}
            type=raw,value=${{ inputs.image-prefix }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix=,format=long

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            BUN_VERSION=${{ vars.BUN_VERSION || '1.2.22' }}
            BASE_OS=${{ vars.BASE_OS || 'alpine' }}
            APP_NAME=${{ inputs.image-name }}
            APP_VERSION=${{ inputs.image-tag }}
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: dockerfiles/${{ inputs.image-name }}.dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: true

      - uses: actions/attest-build-provenance@v3
        if: ${{ github.event_name == 'push' }}
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}

  schema-artifact:
    name: API Schema Artifact
    if: ${{ inputs.buildable }}
    needs: [build-push]
    runs-on: ubuntu-latest

    permissions:
      packages: read

    env:
      DB_NAME: ${{ github.repository_owner }}
      DB_USER: ${{ github.repository_owner }}
      DB_PASS: secret

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASS }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd=pg_isready
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
      app:
        image: ghcr.io/${{ inputs.repo-name }}:${{ inputs.image-prefix }}
        credentials:
          username: ${{ github.actor }}
          password: ${{ github.token }}
        env:
          NODE_ENV: staging
          APP_SECRET: not-secure-secret
          LOG_LEVEL: debug
          DB_HOST: postgres
          DB_NAME: ${{ env.DB_NAME }}
          DB_USER: ${{ env.DB_USER }}
          DB_PASS: ${{ env.DB_PASS }}
        ports:
          - 3000:3000

    steps:
      - name: Health check
        env:
          APP_URL: http://localhost:${{ job.services.app.ports['3000'] }}
        run: |
          set -euo pipefail

          echo "Waiting for application to start..."
          TIMEOUT=5
          ELAPSED=0
          while [ $ELAPSED -lt $TIMEOUT ]; do
            if docker logs ${{ job.services.app.id }} 2>&1 | grep -q "$APP_URL"; then
              break
            fi

            sleep 1
            ELAPSED=$((ELAPSED+1))
          done

          if [ $ELAPSED -eq $TIMEOUT ]; then
            echo "Timeout waiting for application to start"
            docker logs ${{ job.services.app.id }}
            exit 1
          fi

          HTTP_CODE=$(curl -s -o /dev/null -w "%{http_code}" $APP_URL/health)

          if [ "${HTTP_CODE:-0}" -ne 200 ]; then
            echo "Health check failed with status ${HTTP_CODE:-unset}"
            exit 1
          fi

          echo "APP_URL=$APP_URL" >> $GITHUB_ENV
          echo "Health check passed"

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ vars.BUN_VERSION || '1.2.22' }}

      - name: Generate API schema
        run: |
          bunx openapi-typescript $APP_URL/docs/json -o ${{ inputs.image-name }}.schema.d.ts

      - name: Upload schema artifacts
        uses: actions/upload-artifact@v5
        with:
          name: api-schema_${{ inputs.image-prefix }}
          path: ${{ inputs.image-name }}.schema.d.ts
          retention-days: 30
          overwrite: true

  prune-images:
    name: Prune old images
    # if: github.event.pull_request.merged == true
    needs: [build-push]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - name: Get previous images
        id: prev-images
        uses: actions/github-script@v7
        continue-on-error: true
        with:
          github-token: ${{ secrets.PAT_PRUNE }}
          script: |
            const { owner, repo } = context.repo;
            const base_branch = context.payload.pull_request?.base?.ref || 'main';

            try {
              const packages = [];
              const per_page = 50;
              let has_next = true;
              let page = 1;

              do {
                /**
                 * @link https://octokit.github.io/rest.js/v22/#packages-get-all-package-versions-for-a-package-owned-by-the-authenticated-user
                 */
                const { data } = await github.rest.packages.getAllPackageVersionsForPackageOwnedByAuthenticatedUser({
                  package_type: 'container',
                  package_name: repo,
                  per_page,
                  page,
                });

                for (const { metadata, ...pkg } of data) {
                  packages.push({
                    id: pkg.id,
                    url: pkg.url,
                    digest: pkg.name,
                    ...metadata.container,
                    created_at: pkg.created_at,
                  });
                }

                has_next = data.length === per_page;
                page++;
              } while (has_next);

              packages.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));

              const images = packages.reduce((pkgs, pkg) => {
                let tag = 'untagged';

                if (pkg.tags.length > 0) {
                  const image_tag = pkg.tags.find(tag => /^\d+\.\d+\.\d+-[\w-]+\.[a-f0-9]{8}$/.test(tag));
                  tag = image_tag
                    ? image_tag.replace(/^\d+\.\d+\.\d+-(.*)\.[a-f0-9]{8}$/, '$1')
                    : pkg.tags.at(1);

                  if (!tag) {
                    tag = pkg.tags[0].startsWith('sha256-') ? 'attestation' : 'dangling'
                  }
                }

                tag = tag?.trim() || 'untagged';

                if (pkg.tags.includes('latest')) {
                  // Skip latest image
                  return pkgs;
                }

                pkgs[tag] = pkgs[tag] || [];

                if (pkgs[tag].find(p => p.id === pkg.id)) {
                  // Skip it due to duplicate ID
                  return pkgs;
                }

                pkgs[tag].push(pkg);

                return pkgs;
              }, {
                attestation: [],
                dangling: [],
                untagged: [],
                [base_branch]: [],
              })

              core.info(`\u001b[1mFound tags:\u001b[0m`);
              for (const [tag, pkgs] of Object.entries(images)) {
                if (pkgs.length === 0) continue;

                core.info(`- \u001b[33m${pkgs.length}\u001b[0m: \u001b[33m${tag}\u001b[0m`);
              }

              return images;
            } catch (error) {
              console.error(error);
              core.setFailed(`Failed get previous images: ${error.message}`);
            }

      - name: Prune old images
        uses: actions/github-script@v7
        if: ${{ steps.prev-images.outcome == 'success' }}
        continue-on-error: true
        env:
          PREV_IMAGES: ${{ steps.prev-images.outputs.result }}
        with:
          github-token: ${{ secrets.PAT_PRUNE }}
          script: |
            const { owner, repo } = context.repo;
            const images = JSON.parse(process.env.PREV_IMAGES)
            const deletion = {
              success: 0,
              error: 0,
              skipped: 0,
            };

            const delete_pkg = async (pkg) => {
              const tags = pkg.tags.length > 0
                ? pkg.tags.join('\u001b[0m,\u001b[33m')
                : pkg.digest;

              try {
                /**
                 * @link https://octokit.github.io/rest.js/v22/#packages-delete-package-version-for-authenticated-user
                 */
                // const response = await github.rest.packages.deletePackageVersionForAuthenticatedUser({
                //   package_type: 'container',
                //   package_name: repo,
                //   package_version_id: pkg.id,
                // });

                core.info(`- \u001b[33m${pkg.id}\u001b[0m: \u001b[33m${tags}\u001b[0m`);
                deletion.success++;
              } catch (error) {
                core.warning(`Unable to delete package \u001b[33m${pkg.id}\u001b[0m: ${error.message}`);
                deletion.error++;
              }
            }

            try {
              const images = JSON.parse(process.env.PREV_IMAGES)

              // Images to delete
              const to_delete = [];
              const keep_base_branch = 10;

              // Keep most recent images from `base_branch`
              if (images[base_branch].length > keep_base_branch) {
                // Sort by created_at descending (newest first) to keep recent images
                images[base_branch].sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
                to_delete.push(...images[base_branch].slice(keep_base_branch));
              }

              for (const [tag, pkgs] of Object.entries(images)) {
                // Delete images other than main and untagged
                if (pkgs.length > 0 && ![base_branch, 'untagged'].includes(tag)) {
                  to_delete.push(...pkgs);
                }
              }

              if (to_delete.length === 0) {
                core.notice('No images to delete');
                return;
              }

              core.info(`\u001b[1mDelete images:\u001b[0m`);
              await Promise.all(to_delete.map(delete_pkg));

              core.notice([
                `From \u001b[1m${to_delete.length}\u001b[0m images:`,
                `\u001b[32m${deletion.success}\u001b[0m deleted,`,
                `\u001b[31m${deletion.error}\u001b[0m error and`,
                `\u001b[34m${deletion.skipped}\u001b[0m skipped`,
              ].join(' '));
            } catch (error) {
              console.error(error);
              core.setFailed(`Failed to prune images: ${error.message}`);
            }
