name: Docker

on:
  workflow_call:
    inputs:
      app-version:
        description: App Version
        required: false
        type: string
      buildable:
        description: Whether we need to build new image
        required: false
        type: boolean
      image-name:
        description: Docker image name
        required: true
        type: string
      image-tag:
        description: Docker image tag
        required: true
        type: string
      repo-name:
        description: Repository name
        required: true
        type: string

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest
    if: ${{ inputs.buildable == 1 }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ inputs.repo-name }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ inputs.image-tag }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix=,format=long

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            BUN_VERSION=${{ vars.BUN_VERSION || '1.2.22' }}
            BASE_OS=${{ vars.BASE_OS || 'alpine' }}
            APP_NAME=${{ inputs.image-name }}
            APP_VERSION=${{ inputs.image-tag }}
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: dockerfiles/${{ inputs.image-name }}.dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: true

      - uses: actions/attest-build-provenance@v3
        if: ${{ github.event_name == 'push' }}
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}
