name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  prepare:
    name: Prepare
    uses: ./.github/workflows/prepare.yml
    secrets: inherit

    permissions:
      contents: read
      pull-requests: write

  tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: prepare

    env:
      DB_NAME: ${{ github.repository_owner }}
      DB_USER: ${{ github.repository_owner }}
      DB_PASS: secret
      DB_VERSION: ${{ vars.DB_VERSION || '17.7' }}

    services:
      postgres:
        image: postgres:${{ env.DB_VERSION }}
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASS }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd=pg_isready
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ vars.BUN_VERSION || '1.2.23' }}

      - name: Install dependencies
        run: bun ci

      - name: Test
        env:
          APP_NAME: elysia-app
          APP_VERSION: ${{ needs.prepare.outputs.image-tag }}
          AUTH_SECRET: secret
          NODE_ENV: test
        run: bun test --coverage

  docker:
    name: Docker Images for ${{ matrix.image-name }}
    needs: [prepare, tests]
    if: needs.tests.result == 'success'
    uses: ./.github/workflows/docker.yml
    with:
      buildable: ${{ needs.prepare.outputs.buildable == '1' }}
      image-name: ${{ matrix.image-name }}
      image-prefix: ${{ needs.prepare.outputs.image-prefix }}
      image-tag: ${{ needs.prepare.outputs.image-tag }}
      repo-name: ${{ needs.prepare.outputs.repo-name }}

    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    strategy:
      fail-fast: false
      matrix:
        image-name: [elysia-app]
