name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  prepare:
    name: Prepare
    uses: ./.github/workflows/prepare.yml
    secrets: inherit

    permissions:
      contents: read
      pull-requests: write

  tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: prepare

    env:
      APP_VERSION: ${{ needs.prepare.outputs.image-tag }}
      DB_NAME: ${{ github.repository_owner }}
      DB_USER: ${{ github.repository_owner }}
      DB_PASS: secret

    services:
      postgres:
        image: postgres:${{ vars.DB_VERSION || '17.7' }}
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASS }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd=pg_isready
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ vars.BUN_VERSION || '1.3.3' }}

      - name: Install dependencies
        run: bun ci

      - name: Test
        env:
          APP_NAME: elysia-app
          AUTH_SECRET: secret
          NODE_ENV: test
        run: bun test --coverage

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: test/coverage
          env_vars: APP_VERSION

  docker:
    name: Docker Images for elysia-app
    needs: [prepare, tests]
    if: needs.tests.result == 'success'
    uses: ./.github/workflows/docker.yml
    with:
      buildable: ${{ needs.prepare.outputs.buildable == '1' }}
      image-name: elysia-app
      image-prefix: ${{ needs.prepare.outputs.image-prefix }}
      image-tag: ${{ needs.prepare.outputs.image-tag }}
      repo-name: ${{ needs.prepare.outputs.repo-name }}

    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
