name: PR Merged

on:
  pull_request:
    types: [closed]

jobs:
  print-details:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    env:
      PR_NUMBER: ${{ github.event.number }}
      PR_MERGED_BRANCH: ${{ github.event.pull_request.base.ref }}
      PR_SOURCE_BRANCH: ${{ github.event.pull_request.head.ref }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Print PR info
        run: |
          echo "PR Number: $PR_NUMBER"
          echo "Merged into branch: $PR_MERGED_BRANCH"
          echo "Merged from branch: $PR_SOURCE_BRANCH"

      - name: Get previous package
        id: previous-pkg
        uses: actions/github-script@v7
        continue-on-error: true
        with:
          script: |
            const { owner, repo } = context.repo;
            const prefix = process.env.PR_SOURCE_BRANCH;

            try {
              /**
               * @see https://octokit.github.io/rest.js/v22/#packages-get-all-package-versions-for-package-owned-by-org
               */
              const { data } = await github.rest.packages.getAllPackageVersionsForPackageOwnedByUser({
                package_type: 'container',
                package_name: repo,
                username: owner,
              });

              const packages = data.map(({ metadata, ...pkg }) => ({
                ...pkg,
                ...metadata.container
              }));

              if (packages.length === 0) {
                core.info('No previous image found');
                return;
              }

              // packages.filter(({ tags }) => tags.length > 0 && tags.some(tag => tag.startsWith(prefix)));
              console.log(packages);
            } catch (error) {
              core.setFailed(`Failed to get package '${repo}' in ${owner}: ${error.message}`);
            }
