name: Release

on:
  push:
    tags: ['v*.*.*']

jobs:
  prepare:
    name: Prepare
    uses: ./.github/workflows/prepare.yml

    permissions:
      contents: read
      pull-requests: write

  docker:
    name: Docker Images for ${{ matrix.image-name }}
    needs: [prepare]
    uses: ./.github/workflows/docker.yml
    with:
      image-name: ${{ matrix.image-name }}
      image-prefix: ${{ needs.prepare.outputs.image-prefix }}
      image-tag: ${{ needs.prepare.outputs.app-version }}
      repo-name: ${{ needs.prepare.outputs.repo-name }}

    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    strategy:
      fail-fast: false
      matrix:
        image-name: [elysia-app]

  publish:
    name: Publish
    uses: projek-xyz/actions/.github/workflows/release.yml@main

    permissions:
      contents: write
